/* STYLESHEET : "../spin_360/spin_360.html" */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #2E9AFE;
}

#spin {
  padding: 0;
  margin: 25% 40%;
  width: 200px;
  height: 200px;
  -webkit-animation: spinning 2s infinite linear;
}

/* ANIMATION */

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
