/* STYLESHEET : "../css_animation_games/header.html" */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  max-height: 100%;
  background-color: #FDFD96;
}

header {
  padding: 0;
  margin: 0;

  height: 200px;
  border-top: 10px solid purple;
  border-bottom: 10px solid purple;
  background-image: url(../images/seamless2.jpg);
  background-repeat: repeat-x;
  -webkit-animation: slide 5s linear infinite;
}

/* ANIMATION */

@-webkit-keyframes slide {
  0% { background-position: 0 0; }
  100% { background-position: -990px 0; }
}
